* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background: #f3f4f6;
}

.pricing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 2rem;
    padding: 2rem;
}

.card {
    background: #fff;
    padding: 2.5rem 2rem;
    border-radius: 14px;
    text-align: center;
     width: 260px;
     box-shadow: 0px 5px 20px rgba(0,0,0,0.08);
     transition: 0.3s ease;
}

.featured {
    border: 2px solid #007bff;
}

.card:hover {
    transform: translateY(-6px);
}

.card h3 {
     font-size: 1.4rem;
     font-weight: 600;
      margin-bottom: 12px;
}

.card h2 {
    font-size: 2.2rem;
     /* font-weight: 700; */
      color: #007bff;
       margin-bottom: 18px;
}

.card h2 span {
     font-size: 1.2rem;
     font-weight: 400;
}

.card p {
    font-size: 0.95rem;
     color: #555;
    margin-bottom: 8px;
}

.card button {
      margin-top: 18px;
       background: #007bff;
        border: none;
        padding: 10px 26px;
        color: white;
         font-size: 0.95rem;
          border-radius: 6px;
          cursor: pointer;
          transition: 0.3s;
}

.card button:hover {
    background: #005ed1;
}

@media (max-width: 768px) {
    .pricing-container {
        flex-direction: column;
        align-items: center;
    }
}